html{
    background-image: url(https://i.ytimg.com/vi/5loLf_doe_c/maxresdefault.jpg);
}
.intro {
    color: blue;
    text-align: center;
    
    font-family: Impact, Charcoal, sans-serif;
    text-shadow:
		-1px -1px 0 #000,
		1px -1px 0 #000,
		-1px 1px 0 #000,
		1px 1px 0 #000;
	font-size: 60px;
}
#zen-summary {
    color: green;
    font-family: Impact, Charcoal, sans-serif;
    text-shadow:
		-1px -1px 0 #000,
		1px -1px 0 #000,
		-1px 1px 0 #000,
		1px 1px 0 #000;
	font-size: 60px;
}
#zen-preamble {
    color: white;
    font-family: Impact, Charcoal, sans-serif;
    text-shadow:
		-1px -1px 0 #000,
		1px -1px 0 #000,
		-1px 1px 0 #000,
		1px 1px 0 #000;
	font-size: 60px;
}
#zen-supporting {
    color: hotpink;
    text-align: center;
    font-family: Impact, Charcoal, sans-serif;
    text-shadow:
		-1px -1px 0 #000,
		1px -1px 0 #000,
		-1px 1px 0 #000,
		1px 1px 0 #000;
   font-size: 60px;
}